.navbar{
  height: 100px;

  .wrapper{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  span{
    font-size: 30px;
    font-weight: bold;
  }

  .social{
    display: flex;
    gap: 25px;


    img{
      height: 40px;
      width: 40px;
    }
  }
}